body {
  background-color: #282c34;
}

.App {
  text-align: center;
  font-size: 30px
}

.header {
  color: white
}

.searchField {
  font-size: 30px;
  margin-bottom: 20px;
}

.button {
  font-size: 30px;
  margin: 10px;
}